<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <title>Add Coupon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <style>
        .centerall {
height: 100vh;
padding: 0;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items:center
}

    </style>
</head>
<br>
<body>
{% if messages %}
<div class="notification is-danger" align="center" data-width="">
  <button class="delete"></button>
    {% for message in messages %}
     {{ message }}
    {% endfor %}
</div>
{% endif %}
<div class="centerall">
   <form method="POST" class="box">
    {% csrf_token %}
       <table class="table is-bordered is-striped">
        {{form}}
        </table>
        <input class="is-primary button shift" type="submit" value="submit">
</form>
</div>
</body>
</html>